@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-screen-size) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-screen-size) {
    @content;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;

  // На мобільці: колонки розтягуються, але не більше ніж потрібно
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  column-gap: 20px;

  @include on-tablet {
    --columns: 6;

    column-gap: 30px;
  }

  @include on-desktop {
    --columns: 12;

    // 💡 ФІКСУЄМО десктоп: кожна колонка строго максимум 70px
    grid-template-columns: repeat(var(--columns), minmax(0, 70px));

    // 💡 Додаємо проміжок 30px, який ви вказали для десктопу
    column-gap: 30px;

    // 💡 Центруємо сітку, щоб вона не притискалася до лівого краю на великих моніторах
    justify-content: center;
  }
}

@mixin content-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    padding-inline: 55px;

    margin-inline: auto;
  }
}
